// Default variables for font sizes.
$font-large: 100px;
$font-med: 35px;
$font-small: 15px;

// Default variables for Colors.
$primary-black: #3d3d3d;
$primary-grey: #666666;
$primary-off-white: #ededed;
$primary-green: #007a82;
$primary-yellow: #febb0c;
